{% load packets_extras %}
    <div class="card">
        <div class="card-header">
            Analysis
        </div>
        <div class="card-body">
            <h5 class="card-title">About BASICXID</h5>
            <p class="card-text">The following information was detected analyzing only packets from this protocol:</p>
            <ul>
                <!-- MANUFACTURER -->
                {% for manufacturer in protocol_info|fields:"BASICXID"|fields:"manufacturer" %}
                <li><strong>Manufacturer detected:</strong> {{ manufacturer }}</li>
                {% endfor %}

                <!-- MANUFACTURER -->
                <li><strong>Manufacturer:</strong> This protocol is only used by Apple devices. This host is an Apple device.  </li>
            </ul>
        </div>
    </div>
