{% load packets_extras %}
    <div class="card">
        <div class="card-header">
            Analysis
        </div>
        <div class="card-body">
            <h5 class="card-title">About DB-LSP-DISC</h5>
            <p class="card-text">The following information was detected analyzing only packets from this protocol:</p>
            <ul>
                <!-- MANUFACTURER -->
                {% for manufacturer in protocol_info|fields:"DB-LSP-DISC"|fields:"manufacturer" %}
                <li><strong>Manufacturer detected:</strong> {{ manufacturer }}</li>
                {% endfor %}

                <!-- IP address -->
                {% for ip in protocol_info|fields:"DB-LSP-DISC"|fields:"ip" %}
                <li><strong>IP detected:</strong> {{ ip }}</li>
                {% endfor %}

                <!-- OPERATING SYSTEM -->
                {% for ttl in protocol_info|fields:"DB-LSP-DISC"|fields:"ttl" %}
                    {% if ttl == "128" %}
                    <li><strong>Operating system:</strong> Probably Windows due to a TTL value of {{ ttl }}</li>
                    {% endif %}
                    {% if ttl == "64" %}
                    <li><strong>Operating system:</strong> Probably UNIX-like due to a TTL value of {{ ttl }}.</li>
                    {% endif %}
                {% endfor %}

                <!-- APPLICATION PORT -->
                {% for port in protocol_info|fields:"DB-LSP-DISC"|fields:"port" %}
                    {% if port %}
                    <li><strong>Application port:</strong> {{ port }}</li>
                    {% endif %}
                {% endfor %}

                <!-- SERVICES -->
                <li><strong>Services:</strong> This host uses the DropBox service with local LAN discovery on.</li>
            </ul>
        </div>
    </div>
